.cell
    background-color: grey
    width: 100px
    height: 100px
    padding: 10px

    border: 1px
    border-style: solid
    border-color: black

.field-panel
    width: 500px
    height: 500px
    background-color: white

    .field-rows
        display: flex
        flex-direction: column

    .field-columns
        display: flex
        flex-direction: row
