.cell
    width: 94px
    height: 92px
    
    .piece
        width: 100%
        height: 100%

.card
    width: 224px
    height: 105px

    margin: 10px
    border: 3px
    border-style: solid
    border-color: black

.mini-card
    width: 112px
    height: 57px
    margin-top: 0px
    margin-bottom: 0px
    margin-left: 20px

.player-panel
    width: 512px
    height: 187px

    .cards
      display: flex
      flex-direction: row
      justify-content: center

.player1-panel
    align-items: flex-start

.player0-panel
    align-items: flex-end

.field-panel
    width: 512px
    height: 833px
    background-image: url('http://localhost:3030/static/board.jpg')
    background-size: 100%

    .field
        margin-left: 22px
    
        .field-rows
            display: flex
            flex-direction: column

        .field-columns
            display: flex
            flex-direction: row
